Checks: "-abseil*,
  -altera*,
  -android*,
  bugprone*,
  -bugprone-macro-parentheses,
  -bugprone-easily-swappable-parameters,
  cert*,
  -fuchsia*,
  -google*,
  -linuxkernel*,
  -llvm*,
  -llvmlibc*,
  modernize*,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -modernize-use-nodiscard,
  readability*,
  -readability-redundant-access-specifiers,
  -readability-magic-numbers,
  -readability-named-parameter
  "
