# -------------------------------------------------------------------------
# Contains libraries crucial for running the main project functionalities.
# -------------------------------------------------------------------------

cmake
conan